@import url('https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

h1 {
  font-size:6rem;
}

h2 {
  font-size:6rem;
}

h3 {
  font-size:4rem;
}

h4 {
  font-size:2rem;
}

body {
  background-color:#E6E6FA;
}

input {
  background-color:#E6E6FA;
  border-radius:5px;
  border:0;
  outline:none;
}

button {
  border-radius:5px;
  border:2px solid #E6E6FA;
  font-size:2rem;
  font-weight:bold;
  color:#E6E6FA;
  background-color:#483D8B;
  width:50%;
  height:40px;
}

button:hover {
  color:#483D8B;
  background-color:#E6E6FA;
  cursor:pointer;
}